* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    width: 1170px;
    margin: 0 auto;
}
.container-small {
    margin-left: 367px;
}
.row::after {
    content: "";
    display: block;
    clear: both;
}
[class^="col-"] {
    float: left;
}
@media (min-width: 1000px) {
    .col-md-2 {
        width: 16.66666666%;
    }
    .col-md-3 {
        width: 25%;
    }
    .col-md-4 {
        width: 33.33333333%;
    }
    .col-md-5 {
        width: 41.66666666%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-7 {
        width: 58.33333333%;
    }
    .col-md-8 {
        width: 66.66666666%;
    }
    .col-md-9 {
        width: 75%;
    }
}
.header {
    background: url(images/header.jpg) no-repeat 50% / cover;
}
.logo {
    margin-top: 37px;
}
.menu {
    list-style: none;
    margin-left: 33px;
}
.menu li {
    display: inline-block;
    margin-right: 30px;
}
.menu li a {
    display: block;
    font-family: "Montserrat";
    font-size: 12px;
    color: #333333;
    text-decoration: none;
    padding: 43px 0;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.menu li a:hover {
    text-decoration: none;
    color: #10C9C3;
}
.menu li:last-child {
    margin-right: 0;
}
.banner {
    padding-bottom: 201px;
}
.empty {
    width: 1px;
    height: 1px;
}
.banner .row > .col-md-6:last-child {
    padding-left: 54px;
}
.banner-header {
    font-family: "Montserrat";
    font-size: 38px;
    color: #1D1D1D;
    padding-top: 127px;
    padding-bottom: 23px;
}
.banner-content {
    font-family: "Nunito Sans";
    font-size: 18px;
    color: #787878;
    line-height: 28px;
    padding-bottom: 34px;
    margin-left: 6px;
}
.banner-link {
    display: block;
    width: 180px;
    height: 54px;
    line-height: 54px;
    text-align: center;
    color: white;
    background: #10C9C3;
    font-family: "Montserrat";
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 6px;
}
.banner-link:hover {
    text-decoration: none;
}
.about-us {
    padding-bottom: 100px;
}
.about-us-name {
    text-align: center;
    font-family: "Montserrat";
    font-size: 30px;
    color: #1D1D1D;
    padding-top: 92px;
    padding-bottom: 27px;
}
.about-us-content, .about-us-content-2 {
    font-family: "Nunito Sans";
    font-size: 16px;
    line-height: 24px;
    color: #787878;
    text-align: center;
}
.about-us-content-2 {
    width: 620px;
    margin: 0 auto;
    padding-bottom: 33px;
}
.signature {
    width: 223px;
    margin: 0 auto;
}
.professional-skills .row > .col-md-6:first-child {
    background: #F8F9F9;
    padding-bottom: 164px;
}
.professional-skills .row > .col-md-6:last-child {
    background: #E9E9E9 url(images/letter-and-pencil.jpg) no-repeat 50% 50% / cover; 
    padding-bottom: 570px;
}
.prof-skills {
    font-family: "Montserrat";
    font-size: 30px;
    color: #1D1D1D;
    padding-top: 158px;
    padding-bottom: 27px;
}
[class$="-scale"] {
    font-family: "Montserrat";
    font-size: 12px;
    text-transform: uppercase;
    padding-bottom: 17px;
}
.scale {
    width: 500px;
    background: #D8D8D8;
    height: 3px;
}
[class^="scale-"] {
    height: 3px;
    background: #10C9C3;
}
.scale-1 {
    width: 75%;
}
.scale-2 {
    width: 90%;
}
.scale-3 {
    width: 65%;
}
.design-scale {
    padding-top: 3px;
}
.development-scale, .marketing-scale {
    padding-top: 38px;
}

.web-site-info {
    background: #10C9C3;
    color: white;
}
.number, .info {
    font-family: "Montserrat";
}
.number {
    font-size: 18px;
    padding-top: 96px;
    padding-bottom: 8px;
}
.info {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-bottom: 96px;
}
[class^="info-block-"] img {
    float: left;
    margin-top: 100px;
    margin-right: 28px;
}
.info-block-2, .info-block-3, .info-block-4 {
    margin-left: 21px;
}
.work-block {
    height: 420px;
    width: 100%;
}
.work-block-1 {
    background: url(images/letter.jpg) no-repeat 50% 50% / cover;
}
.work-block-2 {
    background: url(images/glass.jpg) no-repeat 50% 50% / cover;
}
.work-block-3 {
    background: url(images/iphone.jpg) no-repeat 50% 50% / cover;
}
.work-block-4 {
    background: url(images/shop-bag2.jpg) no-repeat 50% 50% / cover;
}
.work-block-5 {
    background: url(images/shop-bag.jpg) no-repeat 50% 50% / cover;
}
.work-block-6 {
    background: url(images/honey.jpg) no-repeat 50% 50% / cover;
}
.work-block-7 {
    background: url(images/book.jpg) no-repeat 50% 50% / cover;
}
.work-block-8 {
    background: url(images/she.jpg) no-repeat 50% 50% / cover;
}
.work-block-bg {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8) url(images/look.jpg) no-repeat 50% 50%;
    display: none;
}
.work-block-bg-7 {
    background: rgba(0, 0, 0, 0.8) url(images/look2.jpg) no-repeat 50% 50%;
}
.work-block:hover .work-block-bg {
    display: block;
    border: 1px solid white;
}
.load-more-work {
    color: #8E8E8E;
    text-align: center;
    font-family: "Montserrat";
    text-transform: uppercase;
    font-size: 12px;
    padding-top: 42px;
    padding-bottom: 42px;
    text-decoration: none;
    display: block;
}
.load-more a {
    text-decoration: none;
}
.load-more a:hover {
    text-decoration: none;
}
.load-more {
    background: #F5F5F5;
}
.our-work-process-name {
    font-family: "Montserrat";
    font-size: 30px;
    text-transform: capitalize;
    text-align: center;
    padding-top: 92px;
    padding-bottom: 27px;
    color: #191919;
}
.our-work-process-info {
    font-family: "Nunito Sans";
    font-size: 16px;
    line-height: 24px;
    width: 500px;
    margin: 0 auto;
    text-align: center;
    color: #787878;
    padding-bottom: 50px;
}
.our-work-process {
    padding-bottom: 100px;
}
.services {
    background: #F5F5F5;
    padding-top: 102px;
    padding-bottom: 93px;
}
.service p {
    text-align: center;
}
.service-name {
    font-family: "Montserrat";
    text-transform: uppercase;
    font-size: 12px;
    color: #191919;
    letter-spacing: 1px;
    padding-top: 25px;
    padding-bottom: 11px;
}
.service-description {
    font-family: "Nunito Sans";
    font-size: 16px;
    color: #787878;
    width: 240px;
    margin: 0 auto;
    line-height: 24px;
}
.service-icon {
    width: 44px;
    margin: 0 auto;
}
.services .col-md-3 .service:first-child {
    padding-bottom: 53px;
}
.testimonials {
    background: #10C9C3;
    color: white;
    padding-top: 175px;
    padding-bottom: 60px;
}
blockquote {
    font-family: "Montserrat";
    font-size: 24px;
    line-height: 36px;
    width: 813px;
    margin: 0 auto;
    text-align: center;
}
.author {
    font-family: "Montserrat";
    font-size: 12px;
    padding-top: 36px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-bottom: 105px;
}
.slide-1, .slide-3 {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5);
    margin-top: 2px;
}
.slide-2 {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: white
}
.slide-1, .slide-2, .slide-3 {
    float: left;
}
.slides {
    width: 40px;
    margin: 0 auto;
}
.slide-1, .slide-2 {
    margin-right: 9px;
}
.clients-icon {
    width: 1100px;
    margin: 0 auto;
}
.clients {
    padding-top: 65px;
    padding-bottom: 65px;
}
.clients-icon img:not(:last-child) {
    margin-right: 146px;
}
.form {
    background: #F5F5F5;
    padding-bottom: 100px;
}
.form-name {
    font-family: "Montserrat";
    font-size: 30px;
    line-height: 84px;
    padding-bottom: 6px;
    padding-top: 73px;
    text-align: center;
    color: #191919;
}
.form-description {
    font-family: "Nunito Sans";
    font-size: 16px;
    line-height: 24px;
    color: #787878;
    text-align: center;
    margin: 0 auto;
    width: 490px;
    padding-bottom: 34px;
}
form {
    width: 670px;
    margin: 0 auto;
}
input::placeholder, textarea::placeholder {
    font-family: "Nunito Sans";
    font-size: 15px;
    color: #787878;
}
input[type="text"]:first-child, input[type="email"] {
    width: 320px;
    margin-bottom: 30px;
}
input[type="text"]:first-child {
    margin-right: 26px;
}
input, textarea {
    border: none;
    padding-left: 20px;
}
input[type="text"]:nth-child(3), textarea {
    width: 100%;
    margin-bottom: 30px;
}
input {
    height: 50px;
}
textarea {
    padding-top: 15px;
}
form button {
    width: 180px;
    height: 54px;
    line-height: 54px;
    text-align: center;
    border: none;
    background: #10C9C3;
    color: white;
    text-transform: uppercase;
    font-family: "Montserrat";
    font-size: 12px;
    letter-spacing: 1px;
}
.button {
    width: 180px;
    margin: 0 auto;
}
.footer {
    background: #141414;
    color: #BCBCBC;
    padding-top: 95px;
    padding-bottom: 95px;
}
.piroll-design {
    font-family: "Montserrat";
    font-size: 16px;
    color: white;
    padding-bottom: 23px;
}
.copyright, .design-by, .email, .phone, .footer-nav li a, .socials li a {
    font-family: "Nunito Sans";
    font-size: 15px;
    line-height: 24px;
}
.footer-nav li a, .socials li a {
    display: block;
    text-decoration: none;
    color: #BCBCBC;;
}
.footer-nav, .socials {
    list-style: none;
}
.footer-nav li a:hover, .socials li a:hover {
    text-decoration: none;
    color: #BCBCBC;
}
.socials {
    float: right;
}
.footer-nav {
    display: inline-block;
    margin-left: 55px;
}